@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: InterVariable;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("./assets/fonts/Iter/InterVariable.woff2") format("woff2");
}

* {
    font-family: "Inter", sans-serif;
}